<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login - Chat</title>
    <link rel="stylesheet" href="../public/css/form.css">
</head>
<body>
<div class="login-wrap">
    <h2>Login</h2>
    <div class="form">
        <input type="text" placeholder="EMail" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <button> Login </button>
        <a href="#"> <p> Don't have an account? Sign up </p></a>
    </div>
</div>
<script src='https://code.jquery.com/jquery-1.10.0.min.js'></script>
<!--<script src="js/index.js"></script>-->
</body>
</html>
