<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login & Register form</title>
    <link rel="stylesheet" href="../public/css/form.css">
</head>
<body>
<div class="login-wrap">
    <h2>Sign up</h2>
    <div class="form">
        <input type="text" placeholder="EMail" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <button> Sign up </button>
        <a href="#"> <p> Don't have an account? Register </p></a>
    </div>
</div>
<script src='https://code.jquery.com/jquery-1.10.0.min.js'></script>
</body>
</html>
