li{
	list-style-type: none;
}
body{
	overflow: hidden;
	height: 100%;
	background:url("/images/bg.png") no-repeat center center fixed;
	background-size: cover;
}

::-moz-selection{background:#4593BC;color:#FFFFFF;}
::selection {background:#4593BC;color:#FFFFFF;}

.container {
	width: 100%;
    height: 100%;
    margin-top: -3px;
}

.row{
	margin-top: 1px;
}

.row-space {
	height: 150px;
}
.space {
	width: 3px;
}

.col-sm-3 {
	padding: 0px;
	padding-right: 5px;
}

.col-sm-9 {
	padding: 0px;
	padding-left: 5px;
}

.msg-content{
	/*height:595px;*/
	overflow-x: hidden;
	padding: 15px;
}

.msg-content .img {
    max-width: 200px;
    max-height: 200px;
}

.msg-content ul{
	
}
.msg-content li{
	display:block;
	margin-left: -40px;
	padding-top: 30px;
}
.msg-content ul li img{
	width: 50px;
	height: 105px;
}
.msg-content ul li .my-msg{
	float: right;
	margin-right: 10px;
}

.contacted-offline{
	background: #ffffff;
	border: 1px solid #127fff;
}

.contacted-online{
	background: #127fff;
	border: 1px solid #ffffff;
}

.added-offline{
	background: #ffffff;
	border: 1px solid #b5d592;
}

.added-online{
	background: #b5d592;
	border: 1px solid #ffffff;
}

.invited-offline{
	background: #ffffff;
	border: 1px solid #C09853;
}

.invited-online{
	background: #C09853;
	border: 1px solid #ffffff;
}

.declined-offline{
    background: #ffffff;
    border: 1px solid #c02d11;
}

.declined-online{
    background: #c02d11;
    border: 1px solid #ffffff;
}

.away-offline{
	background: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
}

.away-online{
	background: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
}

.panel-primary{
	border-color: #c7c7c7;
}

.head-title {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-icon {
    margin-left: -10px;
    color: #42c0fb;
}

.dropdown-text {
    color: #2e2e2e;
    padding-left: 10px;
}

.search {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("/images/search.png") no-repeat;
    border: 1px solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
}

.search input:focus {
    outline: 0;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}


.panel-primary>.panel-heading {
	color: #393a40;
	background-color: #ffffff;
    border-color: #e8e6e6;
    min-height: 55px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-left: 1px solid #c7c7c7;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
}

.panel-body{
    height: 610px;
    width: 100%;
}

.panel-msgbody{
    height: 595px;
    width: 60%;
    border-right: 1px solid #e8e8e8;
}

.panel-msgboxbody {
    height: 595px;
    width: 100%;
}

.panel-infobody{
    height: 595px;
    width: 40%;
    /*border-left: 1px solid #e8e8e8;*/
}

.self-panel {
    border-bottom: 1px solid #e8e8e8;
    background-color: #f1f1f1;
}

.progress-panel {
    margin-left: 10px;
    margin-right: 10px;
}

.action-button {
    width: 20px;
    height: 20px;
    border: 1px solid #33a0c5;
    border-radius: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    position: relative;
}

.user-info {
    border-bottom: 1px solid #f5f5f5;
}

.info-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
}

.avatar .status {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: relative;
}

.user-content{
	height:610px;
	margin-top: -15px;
	margin-left: -55px;
	margin-right: -14px;
	overflow-x: hidden;
}

.user-content .user {
	position: relative;
	padding: 0 0 0 5px;
	display: block;
	cursor: pointer;
	margin: 0 0 10px;
}

.user-content .user .avatar {
	top: 0;
	left: 0;
    margin-left: -65px;
    float: left;
}

.user-content .user .status {
	bottom: -10px;
	left: 45px;
    margin-top: -30px;
}

.user-content .user .name {
	color: #2e2e2e;
	padding-top: 10px;
	font-size: 14px;
    font-family: Corbel;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-content .user .msg-alarm {
    float: right;
    margin-right: 10px;
    background-color: #0080ff;
    margin-top: 25px;
    text-align: center;
    font-size: 10px;
    color: #fff6ea;
    height: 13px;
    width: 20px;
    border-radius: 10px;
}

.user-content .user .mood {
	font: 200 12px/20px "Raleway", sans-serif;
	color: #aaaa99;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-content ul{

}

.user-content ul li{
    margin-left: 75px;
    margin-right: 2px;
    display: block;
	border-bottom: 1px solid #eee;
}

.user-content ul li.selected{
	background-color: #d9edf7;
}

.user-content ul li a{
	display:block;
	text-decoration:none;
}
.user-content ul li a:hover{
	display:block;
	background-color: #8794a7;
}
.user-content ul li img{
	border-radius: 50px;
	width: 45px;
	height: 45px;
	margin: 5px 5px 5px 10px;
}
.user-content ul li a span{
	color: #343434;
	font-size: 13px;
}


.grp-content{
    height:400px;
    margin: -15px;
    overflow-x: hidden;
    background-color: #ffffff;
}

.grp-content .user {
    position: relative;
    padding: 0 0 0 5px;
    display: block;
    cursor: pointer;
    margin: 0 0 10px;
}

.grp-content .user .avatar {
    top: 0;
    left: 0;
    float: left;
}

.grp-content .user .status {
    bottom: -10px;
    left: 45px;
    margin-top: -30px;
}

.grp-content .user .name {
    color: #55548e;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 60px;
}

.grp-content .user .mood {
    font: 200 12px/20px "Raleway", sans-serif;
    color: #7694c1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grp-content ul{
    margin-left: -30px;
}

.grp-content ul li{
    margin-left: -10px;
    display: block;
    border-bottom: 1px solid #eee;
}

.grp-content ul li.selected{
    background-color: #d9edf7;
}

.grp-content ul li a{
    display:block;
    text-decoration:none;
}
.grp-content ul li a:hover{
    display:block;
    background-color: #8794a7;
}
.grp-content ul li img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 10px;
}
.grp-content ul li a span{
    color: #343434;
    font-size: 13px;
}

.board-panel {
    overflow: auto;
    position: relative;
}

.board-item {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    height: 200px;
    width: 140px;
    min-width: 100px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 2px 6px 3px #929292;
}

.pitem {
    /*float: left;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*padding-top: 5px;*/
}

.pitem-title {
    margin-left: 25px;
    /*text-align: center;*/
    width: 105px;
    overflow: hidden;
    word-break: break-all;
    height: 20px;
    font-family: fantasy;
    color: #428bca;
}

.pitem-dropdown {
    float: left;
    margin-left: 8px;
    margin-top: -20px;
}

.pitem-content {
    width: 100%;
    height: 170px;
    border-radius: 6px;
    margin-left: 5px;
    /*margin-top: 5px;*/
    /*background-color: #95a5a6;*/
}

.pitem-mainimg {
    height: 130px;
    width: 130px;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 3px 1px #5a5a5a;
}

.pitem-subimg {
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 6px;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 2px 1px #2f2f2f;
}

.boardctrl-panel {
    width: 100%;
    height: 25px;
    /*background-color: #fff;*/
}

.panel-addboard-input {
    width: 80%;
    background-color: #f3f3f3;
    margin-left: 18%;
}

.panel-addboard-label {
    padding-top: 6px;
    padding-left: 1%;
}

.panel-addboard-inputgrp {
    border-top: 1px solid #e8e8e8;
    padding: 10px;
}

.panel-collaborators {
    background-color: #f3f3f3;
    margin-top: 2%;
    margin-left: 18%;
    height: 150px;
    width: 50%;
    overflow: auto;
    border-radius: 6px;
}

.info-onecollaborator {
    margin-left: 10px;
    margin-top: 5px;
}

.panel-collaborators ul li .user .avatar{
    height: 30px;
    width: 30px;
    float: left;
}

.panel-collaborators ul li .user .name{
    padding-top: 5px;
    padding-left: 40px;
}

.panel-collaborators ul li {
    margin-left: -38px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 32px;
}

.img-panel {
    overflow-y: auto;
    padding-bottom: 10px;
}

.img-item {
    float: left;
    max-height: 200px;
    box-shadow: 1px 2px 6px 3px #929292;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.img-style {
    height: 200px;
}

.board-CtrlButton {
    padding-top: 1px;
    padding-left: 10px;
}

.img-view {
    width: 100%;
    box-shadow: 0px 0px 5px 0px #ababab;
}

.img-button {
    cursor: pointer;
    background-color: burlywood;
    height: 30px;
    width: 30px;
    float: right;
    position: relative;
    margin-top: -30px;
    border-radius: 15px;
    border: 2px solid #5fc9fc;
    box-shadow: 0px 1px 6px 3px #383838;
}

.board-list {
    width: 250px;
    float: left;
}

.board-info {
    margin-left: 260px;
}

.board-list ul {
    padding-left: 0px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #e8e8e8;
}

.board-list ul li {
    padding-top: 10px;
    font-size: 20px;
    min-height: 50px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}

.panel-userlist {
    background-color: #f3f3f3;
    height: 150px;
    width: 40%;
    overflow: auto;
    border-radius: 6px;
}

.addImg-ul {
    height: 300px;
    overflow-y: auto;
    padding: 0;
}

.addImg-item {
    padding-top: 8px;
    padding-left: 20px;
    display: list-item;
    height: 35px;
    /* background-color: #e8e8e8; */
    border-bottom: 1px solid #f3f3f3;
}