.message-history {
    border-radius: 5px;
    border: 2px solid #EEE;
    min-width: 600px;
    margin: auto;
    padding: 10px;
    font-size: 12px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* For message time.. */
.message-username {
    height: 20px;
    line-height: 18px;
    font-weight: bold;
    font-size: 12px;
    font-family: monospace;
    color: #cecece;
}

.message-time {
    height: 15px;
    line-height: 15px;
    color : #d8d8d8;
}

.message-reply{
    padding-bottom: 10px;
}

.message-reply .message-time {
    margin-right: 1px;
    text-align: right;
    font-size: 10px;
    padding-right: 50px;
}

.message-reply .message-username {
    text-align: right;
    padding-right: 56px;
}

.message-receive{
    padding-bottom: 10px;
}

.message-receive .message-time {
    margin-right: 1px;
    text-align: left;
    font-size: 10px;
    padding-left: 50px;
}

.message-receive .message-username {
    text-align: left;
    padding-left: 56px;
}

/*.message-reply .message-time {*/
    /*margin-right: 60px;*/
    /*text-align: right;*/
    /*font-size: 12px;*/
/*}*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* For message information.. */
.message-info {
    position: relative;
    overflow: hidden;
    min-height: 55px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* For message content.. */
.message-content-box {
    border-radius: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-break: break-word;
}

.message-reply .message-content-box {
    background: #0080ff;
    color: #333;
    margin-right: 52px;
    float: right;
}

.message-reply .message-content-box .arrow {
    /*border-color: transparent transparent transparent #0081fd;*/
    border-color: transparent transparent transparent transparent;
    right: -15px;
}

.message-receive .message-content-box {
    background: #EEE;
    color: #333;
    margin-left: 52px;
    float: left;
}

.message-receive .message-content-box .arrow {
    /*border-color: transparent #EEE transparent transparent;*/
    border-color: transparent transparent transparent transparent;
    left: -15px;
}

.message-content-box .arrow {
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 9px;
    border-style: solid;
    position: absolute;
    top: 5px;
}

.item-pics-box {
    float: left;
    margin-right: 10px;
}

.item-pic {
    width: 40px;
    height: 40px;
}

.message-content {
    overflow: hidden;
    word-wrap:break-word;
    max-width: 500px;
}

.message-reply .message-content-box .message-content {
    color: #fff6ea;
}

.message-receive .message-content-box .message-content {
    color: #312e2e;
}

.user-avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    border-radius: 20px;
    padding: 0px;
}

.message-receive .user-avatar {
    left: 0;
}

.message-reply .user-avatar {
    right: 0;
}

.send-message {
    position: relative;
    margin-top: 7px;
    height: 40px;
}
.send-message .send-msg-btn {
    float: right;
    width: 75px;
    line-height: 38px;
    height: 38px;
    margin-left: 5px;
    font-size: 14px;
    background-color: #FDFDFD;
    border: 1px solid #D7D7D7;
    text-align: center;
}

.send-message .message-input-box {
    border-radius: 3px;
    background: url("./images/write.png");
    background-size: 11px 11px;
    background-repeat: no-repeat;
    background-position: 6px 14px;
    padding: 0 0 0 25px;
    background-color: #F9F9F9;
    border: 1px solid #D7D7D7;
    overflow: hidden;
}

.send-message input.message-input {
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: none;
}